.nav-container {
  width: 100%;
  background: linear-gradient(135deg, #a8e063, #4caf50); 
  position: fixed; /* Fix the navbar to the top */
  top: 0;          /* Make sure it stays at the top of the page */
  z-index: 1000;   /* Ensure the navbar is above other elements */
  margin-bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo img {
  width: 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
  flex-grow: 1; /* This will make the links occupy more space */
  justify-content: space-around; /* Distribute the links evenly */
}

.navbar-links li {
  margin-right: 30px; /* Increase margin to create more space between links */
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}



